.login-register-page {
    margin: auto;
    width: 50vw;

    form {
        width: 60%;
        margin: auto;
    }

    button {
        font-family: quicksand-bold;
        width: 250px;
        border: none;
        background-color: none;
        padding: 8px;
    }

    input {
        margin-bottom: 15px;
        width: 250px;

    }

    .toggle-form-status-btn {
        font-family: quicksand-regular;
        text-decoration: underline;
        background-color: transparent;
        padding: 5px;
        width: max-content;
    }

    .error-msg {
        color: rgb(226, 20, 20)
    }
}