.user-details-page {
    margin-bottom: 20px;
    margin-top: 5vh;

    .img-container {
        img {
            border-radius: 50%;
            margin-right: 30px;
        }
    }

}

.go-back-btn {
    margin-top: 30px;
    font-family: quicksand-bold;
    border: none;
    background-color: none;
    padding: 8px;
}