// flex helpers
.flex {
    display: flex;

    >*.full {
        flex: 1;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.direction-column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.space-around {
        justify-content: space-around;
    }
}