@font-face {
    font-family: quicksand-regular;
    src: url(../../fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: quicksand-bold;
    src: url(../../fonts/Quicksand/Quicksand-Bold.ttf);
}